id1
sdlwinquake
*.o
*~
\#*
Makefile
Makefile.in
config.h
config.log
config.status
stamp*
.deps
sdlquake
.*
*.kdev*
autom4*
TAGS
tags
configure
config.h.in
aclocal.m4
goodlookingquake
*.m4
goodlookingquake
*.obj
*.tlog
*.pdb
*.ipdb
*.iobj
*.recipe
*.exe
*.log
*.dll
*.txt
*.idb
